@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/*----- IMPORTS -----*/
/* GENERAL */
.sombra {
  text-shadow: 2px 2px 2px #152119; }

/* colores */
/* estilo ventana modal */
.modal-header {
  display: inline;
  text-align: center; }

h5 {
  color: #212529;
  font-size: 1.7rem;
  text-shadow: 2px 2px #dfe7c3; }

.btn__cerrar {
  background-color: #255d00;
  border: none;
  color: #ffffff;
  font-weight: bold; }
  .btn__cerrar:hover {
    background-color: #dfe7c3;
    color: #212529; }

.modal-body p {
  margin-bottom: 0px; }

/* COMPOSTAR */
#compostar h1 {
  display: none; }

#compostar article {
  margin: 50px auto; }

.compostar__separador {
  width: 90%;
  margin: 50px auto;
  box-shadow: 2px 2px 5px #255d00; }

.compostar__seccion1, .compostar__seccion2, .compostar__seccion3, .compostar__seccion4 > div > h2 {
  text-align: center; }
  .compostar__seccion1 p, .compostar__seccion2 p, .compostar__seccion3 p, .compostar__seccion4 > div > h2 p {
    font-size: 1.1rem; }

/* sección 1 */
.compostar__seccion1 {
  width: 90%;
  margin: auto; }
  .compostar__seccion1 div {
    margin: auto; }
  .compostar__seccion1 h2 {
    text-align: center;
    padding: 50px 0px 30px 0px;
    color: #85bb5c;
    font-size: 3rem;
    text-shadow: 1px 1px #255d00; }
  .compostar__seccion1 img {
    width: 250px; }

/* sección 2 */
.compostar__seccion2 {
  margin: auto; }
  .compostar__seccion2 h2 {
    color: #212529;
    font-size: 2rem;
    text-shadow: 2px 2px #dfe7c3;
    margin-bottom: 40px; }
  .compostar__seccion2 img {
    width: 170px; }

.compostar__seccion2__contenido {
  margin: auto; }
  .compostar__seccion2__contenido div:first-child p {
    color: #85bb5c; }

.compostar__seccion2__resp {
  font-weight: bold;
  font-size: 1.8rem !important;
  color: #212529; }

/*********** animation ***********/
.animate__animated.animate__lightSpeedInRight {
  --animate-duration: 2s; }

/* sección 3 */
.compostar__seccion3 h2 {
  color: #212529;
  font-size: 2rem;
  text-shadow: 2px 2px #dfe7c3;
  margin-bottom: 40px; }

.compostar__seccion3 img {
  width: 180px; }

/* sección 4 */
.compostar__seccion4 {
  margin-bottom: 50px; }
  .compostar__seccion4__titulo {
    color: #212529;
    font-size: 2rem;
    text-shadow: 2px 2px #dfe7c3;
    margin-bottom: 50px; }
  .compostar__seccion4 .accordion {
    font-size: 1.1rem;
    margin-top: 30px; }
    .compostar__seccion4 .accordion-item {
      border: none; }
    .compostar__seccion4 .accordion button {
      font-weight: bold;
      margin-bottom: 10px; }
      .compostar__seccion4 .accordion button:not(.collapsed) {
        background-color: #dfe7c3;
        color: #212529; }
        .compostar__seccion4 .accordion button:not(.collapsed):after {
          background-image: url(/assets/images/compostar/chevron-down.svg); }
      .compostar__seccion4 .accordion button.collapsed {
        background-color: #f8f9fa;
        color: #212529; }
    .compostar__seccion4 .accordion .accordion-button {
      font-size: 1.1rem; }
    .compostar__seccion4 .accordion .accordion-body p:first-of-type {
      font-weight: bold; }
    .compostar__seccion4 .accordion .accordion-body p:last-of-type {
      font-style: italic;
      font-size: 1rem;
      color: #255d00; }

/*********** media query ***********/
/* X-Small */
/* Small */
/* Medium */
/* Large */
/* Extra large */
@media screen and (min-width: 1200px) {
  .compostar__separador {
    width: 75%; } }

/* Extra large large */
@media screen and (min-width: 1400px) {
  .compostar__separador {
    width: 60%; } }

/* CONTACTO */
.contacto__titulo h1 {
  text-align: center;
  padding: 30px 0px 10px 0px;
  color: #85bb5c;
  font-size: 3rem;
  text-shadow: 1px 1px #255d00;
  margin: 0; }

.contacto__img img {
  width: 400px; }

.contacto__form {
  margin: 3.2rem auto; }

.contacto__form__dato {
  margin-bottom: 1rem; }
  .contacto__form__dato label {
    color: #255d00;
    font-weight: bold;
    text-shadow: 1px 1px #dfe7c3; }

.contacto__form__nl {
  margin-bottom: 1rem; }
  .contacto__form__nl label {
    color: #255d00;
    font-style: italic; }
  .contacto__form__nl input:checked {
    background-color: #255d00;
    border: none; }

.contacto__form__btn button {
  background-color: #dfe7c3;
  border: none;
  color: #212529;
  font-weight: bold; }
  .contacto__form__btn button:hover {
    background-color: #255d00; }

/*********** media query ***********/
/* X-Small */
/* Small */
/* Medium */
/* Large */
/* Extra large */
/* Extra large large */
/* FOOTER */
.footer__frase {
  background-color: #558b2f; }
  .footer__frase p {
    text-align: center;
    padding: 28px 0px;
    font-size: 1.7rem;
    color: #ffffff; }

.footer__cuerpo {
  padding: 3rem;
  margin: auto; }

footer li {
  list-style: none; }

.footer_web {
  text-align: center; }
  .footer_web a {
    padding: 0.5rem;
    font-size: 1.25rem;
    color: #558b2f; }
    .footer_web a:hover {
      color: #255d00; }

.footer__about {
  text-align: center;
  padding: 1.5rem; }
  .footer__about p {
    margin-bottom: 0; }
  .footer__about ul {
    padding-left: 0; }
    .footer__about ul a {
      color: #255d00; }
      .footer__about ul a:hover {
        font-weight: bold; }

.footer__newsletter {
  text-align: center;
  margin: auto; }
  .footer__newsletter a {
    width: 100%;
    background-color: #255d00;
    color: #ffffff;
    border: #255d00;
    transition: background-color .5s; }
    .footer__newsletter a:hover {
      background-color: #dfe7c3;
      color: #212529; }

.footer__copyright {
  border-top: 1px solid #dfe7c3; }
  .footer__copyright p {
    padding-top: 1rem; }

/*********** media query ***********/
/* X-Small */
/* Small */
@media screen and (min-width: 576px) {
  .footer__cuerpo {
    width: 75%; } }

/* Medium */
@media screen and (min-width: 768px) {
  .footer__about {
    text-align: left;
    padding-top: 0;
    padding-bottom: 0; } }

/* Large */
/* Extra large */
/* Extra large large */
/* INDEX */
/* portada */
.portada {
  height: 40vh;
  background-image: url("../assets/images/index/mano-tierra.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.portada__h1 {
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  color: #e6e6e6; }

.portada__h2 {
  font-style: italic;
  font-size: 1.5rem;
  text-align: center;
  color: #e6e6e6; }

/*********** animation ***********/
.animate__animated.animate__bounce {
  --animate-duration: 2s; }

/* sección links a páginas */
.seccionPaginas {
  margin: 3rem 0; }

.seccionPaginas_texto p {
  margin-bottom: 3rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center; }

.seccionPaginas__links div {
  text-align: center; }
  .seccionPaginas__links div a {
    font-weight: bold;
    background-color: #dfe7c3;
    color: #212529;
    transition: background-color .5s; }
    .seccionPaginas__links div a:hover {
      background-color: #255d00;
      color: #ffffff; }

.seccionPaginas__a--margin {
  margin: 2rem 0; }

/*********** media query ***********/
/* X-Small */
/* Small */
/* Medium */
@media screen and (min-width: 768px) {
  .portada__h1 {
    font-size: 4rem; }
  .portada__h2 {
    font-size: 2rem; } }

/* Large */
/* Extra Large */
@media screen and (min-width: 1200px) {
  .portada {
    height: 70vh; }
  .portada__h1 {
    font-size: 5rem; }
  .seccionPaginas {
    margin: 5rem 0; }
  .seccionPaginas_texto p {
    font-size: 2.5rem; } }

/* Extra large large */
/* LAS TRES R*/
/* intro */
.lasTresR h1 {
  text-align: center;
  padding: 50px 0px 30px 0px;
  color: #85bb5c;
  font-size: 3rem;
  text-shadow: 1px 1px #255d00; }

.lasTresR__intro p {
  text-align: justify;
  margin: 0;
  font-size: 1.1rem; }

.lasTresR__intro__img {
  text-align: center; }

.lasTresR__intro__img img {
  width: 240px;
  margin-top: 50px; }

.verdeBold {
  color: #255d00;
  font-weight: bold;
  font-size: 1.5rem;
  text-shadow: 1px 1px #dfe7c3; }

/* cards */
.tresRCards {
  margin-bottom: 100px; }
  .tresRCards .card-body > p {
    margin: 20px 0px; }

.tresRCards__reducir > div, .tresRCards__reciclar > div, .tresRCards__reutilizar > div {
  border: none;
  background-color: transparent;
  padding: 20px 0px; }
  .tresRCards__reducir > div p, .tresRCards__reciclar > div p, .tresRCards__reutilizar > div p {
    font-size: 1.1rem;
    text-align: justify; }
  .tresRCards__reducir > div a, .tresRCards__reciclar > div a, .tresRCards__reutilizar > div a {
    background-color: #dfe7c3;
    color: #212529;
    font-size: 1.1rem;
    font-weight: bold;
    width: 100%; }
    .tresRCards__reducir > div a:hover, .tresRCards__reciclar > div a:hover, .tresRCards__reutilizar > div a:hover {
      background-color: #255d00;
      color: #ffffff; }

.tresRCards img {
  width: 130px;
  margin: auto;
  transition: all 3s; }

/*********** media query ***********/
/* X-Small */
/* Small */
/* Medium */
@media screen and (min-width: 768px) {
  .lasTresR__intro__img img {
    margin-top: 0px; }
  .tresRCards__reducir > div, .tresRCards__reciclar > div, .tresRCards__reutilizar > div {
    width: 75%;
    margin: auto; } }

/* Large */
@media screen and (min-width: 992px) {
  .tresRCards__reducir > div, .tresRCards__reciclar > div, .tresRCards__reutilizar > div {
    width: 100%; } }

/* Extra large */
@media screen and (min-width: 1200px) {
  .lasTresR {
    width: 75%; }
  .tresRCards > div:hover img {
    transform: rotate(-90deg); } }

/* Extra large large */
/* MENOS ES MÁS */
h2 {
  text-align: center;
  color: #212529;
  font-size: 2rem;
  text-shadow: 2px 2px #dfe7c3;
  margin-bottom: 40px; }

.mesm h1 {
  text-align: center;
  padding: 50px 0px 30px 0px;
  color: #85bb5c;
  font-size: 3rem;
  text-shadow: 1px 1px #255d00; }

.mesm img {
  border-radius: 5px; }

.mesm__quees {
  text-align: center;
  margin-bottom: 70px; }

.mesm__seccion {
  margin-bottom: 70px; }
  .mesm__seccion p {
    text-align: justify;
    margin-bottom: 30px; }
  .mesm__seccion img {
    width: 100%; }

.mesm__tips h2 {
  text-align: center; }

.tips {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 80px; }
  .tips_1, .tips_2 {
    margin-bottom: 70px; }
  .tips__img {
    width: 80px; }
  .tips h5 {
    color: #212529;
    font-size: 1.7rem;
    text-shadow: 2px 2px #dfe7c3; }

.tips__btn {
  border: none;
  padding: 20px;
  border-radius: 5px;
  background-color: #dfe7c3; }
  .tips__btn:hover {
    background-color: #255d00; }

/*presioname*/
.scale-down-center {
  -webkit-animation: scale-down-center 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate-reverse both;
  animation: scale-down-center 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate-reverse both; }

/**
 * ----------------------------------------
 * animation scale-down-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); } }

@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); } }

/*********** media query ***********/
/* X-Small */
/* Small */
/* Medium */
@media screen and (min-width: 768px) {
  .tips_1, .tips_2 {
    margin-bottom: 0px; } }

/* Large */
@media screen and (min-width: 992px) {
  .mesm__seccion p {
    margin-bottom: 0px; } }

/* Extra large */
/* Extra large large */
/* NAVBAR */
/* estilos */
.navbar__logo {
  width: 80px;
  transition: all 3s; }

.navbar__logo:hover {
  transform: rotate(-180deg); }

.menu__ul {
  margin: 20px 0px;
  text-align: center; }

.menu__ul > li a {
  margin: 10px 0px; }

.menu__ul > li a, .submenu__ul a {
  display: inline-block;
  font-size: 1.3rem;
  color: #558b2f;
  text-decoration: none; }
  .menu__ul > li a:hover, .submenu__ul a:hover {
    color: #255d00;
    text-decoration: underline; }

.submenu__ul {
  margin-top: 10px;
  border: none;
  box-shadow: 2px 2px 5px #6c757d; }
  .submenu__ul a:hover {
    background-color: transparent; }

.menu__botonMobile {
  font-size: 2rem;
  color: #558b2f; }

/******** media querys ********/
/* mobile */
@media screen and (min-width: 991px) {
  .menu__ul > li a {
    margin: 0px 20px; } }

/*********** media query ***********/
/* X-Small */
/* Small */
/* Medium */
/* Large */
/* Extra large */
/* Extra large large */
/*----- CLASES GENERALES -----*/
main, .mtop-100 {
  margin-top: 100px; }

.sinBullet {
  list-style: none; }

.txt_center {
  text-align: center; }

/*********** media query ***********/
/* X-Small */
/* Small */
/* Medium */
/* Large */
/* Extra large */
/* Extra large large */
