@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/*----- IMPORTS -----*/
/* VARIABLES */
/* font */
/* COMPOSTAR */
#compostar h1 {
  display: none; }

#compostar article {
  margin: 50px auto; }

.compostar__seccion1, .compostar__seccion2, .compostar__seccion3, .compostar__seccion4 > div > h2 {
  text-align: center; }

.compostar__seccion1 {
  padding-top: 30px; }

.compostar__seccion2 img {
  width: 100%; }

.compostar__seccion2__resp {
  font-weight: bold;
  font-size: 1.5rem; }

.compostar__seccion3 {
  margin-top: 50px; }
  .compostar__seccion3 img {
    width: 180px; }

.compostar__seccion4 {
  margin-top: 50px;
  margin-bottom: 50px; }
  .compostar__seccion4 .accordion {
    margin-top: 30px; }
    .compostar__seccion4 .accordion button {
      font-weight: bold; }
      .compostar__seccion4 .accordion button:not(.collapsed) {
        background-color: #cbdc8b;
        color: #000000; }
      .compostar__seccion4 .accordion button:focus {
        outline: none;
        border: none; }

.accordion-button:focus {
  outline: none;
  border: none; }

/*********** media query ***********/
/* X-Small */
/* Small */
/* Medium */
/* Large */
/* Extra large */
/* Extra large large */
/* CONTACTO */
#contactPage {
  background: linear-gradient(#79c46f, white); }

#contacto {
  width: 40%;
  margin: 40px auto;
  font-size: 1.2rem;
  background: white; }

#contacto form {
  text-align: center; }

/*********** media query ***********/
/* X-Small */
/* Small */
/* Medium */
/* Large */
/* Extra large */
/* Extra large large */
/* FOOTER */
.footer__frase {
  background-color: #558b2f; }

.footer__frase p {
  text-align: center;
  padding: 20px 0px;
  font-size: 1.7rem; }

footer li {
  list-style: none; }

.color-redes {
  color: #198754; }

.color-secciones {
  color: #6c757d; }

/*********** media query ***********/
/* X-Small */
/* Small */
/* Medium */
/* Large */
/* Extra large */
/* Extra large large */
/* INDEX */
/* portada */
.portada {
  height: 40vh;
  background-image: url("../assets/images/img-inicio.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.portada__h1 {
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center; }

.portada__h2 {
  font-style: italic;
  font-size: 1.25rem;
  text-align: center; }

/* sección links a páginas */
.seccionPaginas {
  margin: 3rem 0; }

.seccionPaginas__p {
  margin-bottom: 3rem; }

.seccionPaginas__a {
  font-weight: bold;
  background-color: #85bb5c;
  color: #000000; }

.seccionPaginas__a:hover {
  background-color: #255d00;
  color: #ffffff; }

.seccionPaginas__a--margin {
  margin: 2rem 0; }

/*********** animation ***********/
.animate__animated.animate__bounce {
  --animate-duration: 3s; }

/*********** media query ***********/
/* X-Small */
/* Small */
/* Medium */
@media screen and (min-width: 768px) {
  .portada__h1 {
    font-size: 4rem; }
  .portada__h2 {
    font-size: 2rem; } }

/* Large */
/* Extra Large */
@media screen and (min-width: 1200px) {
  .portada {
    height: 80vh; }
  .portada__h1 {
    font-size: 5rem; }
  .seccionPaginas {
    margin: 5rem 0; } }

/* Extra large large */
/* LAS TRES R*/
/* intro */
.align-center, .lasTresR h1, .intro__img {
  text-align: center; }

.lasTresR h1 {
  padding: 50px 0px 30px 0px;
  color: #85bb5c;
  font-size: 3rem;
  text-shadow: 1px 1px #255d00; }

.intro__texto p {
  text-align: justify;
  margin: 0; }

.intro__img img {
  width: 200px;
  margin-top: 50px; }

.verdeBold {
  color: #255d00;
  font-weight: bold; }

/* cards */
.main-lastresr {
  margin: 50px 0px; }

.tresRCards img {
  width: 120px;
  margin: auto; }

.reducir__card > div, .reciclar__card > div, .reutilizar__card > div {
  border: none;
  background-color: transparent;
  padding: 20px 0px; }

/*********** media query ***********/
/* X-Small */
@media screen and (max-width: 576px) {
  .intro__img img {
    background-color: red; } }

/* Small */
@media screen and (min-width: 576px) {
  .intro__img img {
    background-color: blue; } }

/* Medium */
@media screen and (min-width: 768px) {
  .intro__img img {
    margin-top: 0px;
    background-color: red; } }

/* Large */
@media screen and (min-width: 992px) {
  .intro__img img {
    background-color: blue; } }

/* Extra large */
@media screen and (min-width: 1200px) {
  .intro__img img {
    background-color: red; } }

/* Extra large large */
@media screen and (min-width: 1400px) {
  .intro__img img {
    background-color: blue; }
  .reducir__card > div:hover, .reciclar__card > div:hover, .reutilizar__card > div:hover {
    box-shadow: 1px 1px #85bb5c; } }

/* MENOS ES MÁS */
/*presioname*/
.scale-down-center {
  -webkit-animation: scale-down-center 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate-reverse both;
  animation: scale-down-center 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate-reverse both; }

/**
 * ----------------------------------------
 * animation scale-down-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8); } }

@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8); } }

/*********** media query ***********/
/* X-Small */
/* Small */
/* Medium */
/* Large */
/* Extra large */
/* Extra large large */
/* NAVBAR */
/* estilos */
.navbar__logo {
  width: 80px;
  transition: all 1s; }

.navbar__logo:hover {
  transform: rotate(-180deg); }

.menu__ul {
  margin: 20px 0px; }

.menu__ul > li a {
  margin: 10px 0px; }

.menu__ul > li a, .submenu__ul a {
  display: inline-block;
  font-size: 1.2rem;
  color: #558b2f;
  text-decoration: none; }
  .menu__ul > li a:hover, .submenu__ul a:hover {
    color: #558b2f;
    text-decoration: underline; }

.submenu__ul {
  margin-top: 10px;
  border: none;
  box-shadow: 2px 2px 5px #6c757d; }
  .submenu__ul a:hover {
    background-color: transparent; }

.menu__botonMobile {
  font-size: 2rem;
  color: #558b2f; }

/******** media querys ********/
/* mobile */
@media screen and (min-width: 991px) {
  .menu__ul > li a {
    margin: 0px 20px; } }

/*********** media query ***********/
/* X-Small */
/* Small */
/* Medium */
/* Large */
/* Extra large */
/* Extra large large */
/*----- CLASES GENERALES -----*/
main, .mtop-100 {
  margin-top: 100px; }

.sinBullet {
  list-style: none; }

.txt_center {
  text-align: center; }

/*********** media query ***********/
/* X-Small */
/* Small */
/* Medium */
/* Large */
/* Extra large */
/* Extra large large */
