* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----- IMPORTS -----*/
@import 'pages/general.scss';
@import 'pages/compostar';
@import 'pages/contacto';
@import 'pages/footer.scss';
@import 'pages/index';
@import 'pages/lastresr';
@import 'pages/menosesmas';
@import 'pages/navbar.scss';



/*----- CLASES GENERALES -----*/

main, .mtop-100 {
    margin-top: 100px;
}

.sinBullet {
    list-style: none;
}
.txt_center {
    text-align: center;
}
