/* COMPOSTAR */

#compostar {
    & h1 {
        display: none;
    }
    & article {
        margin: 50px auto;
    }
}

.compostar__seccion1, .compostar__seccion2, .compostar__seccion3, .compostar__seccion4 > div > h2 {
    text-align: center;
}

.compostar__seccion1 {
    padding-top: 30px;
}

.compostar__seccion2 img {
    width: 100%;
}
.compostar__seccion2__resp {
    font-weight: bold;
    font-size: 1.5rem;;
}

.compostar__seccion3 {
    margin-top: 50px;

    & img {
        width: 180px;
    }
}

.compostar__seccion4 {
    margin-top: 50px;
    margin-bottom: 50px;

    & .accordion {
        margin-top: 30px;

        & button {
            font-weight: bold;
            &:not(.collapsed) {
                background-color: $verde-4;
                color: #000000;
            }
            &:focus {
                outline: none;
                border: none;
            }            
        }

    
        
    }
}
.accordion-button:focus {
    outline: none;
    border: none;
}


/*********** media query ***********/
/* X-Small */
@media screen and (max-width: 576px) {

}

/* Small */
@media screen and (min-width: 576px) {

}

/* Medium */
@media screen and (min-width: 768px) {

}

/* Large */
@media screen and (min-width: 992px) {

}

/* Extra large */
@media screen and (min-width: 1200px) {

}

/* Extra large large */
@media screen and (min-width: 1400px) {

}