/* CONTACTO */

#contactPage {
    background: linear-gradient(#79c46f, white);
}
#contacto {
    width: 40%;
    margin: 40px auto;
    font-size: 1.2rem;
    background: white;
}
#contacto form {
    text-align: center;
}


/*********** media query ***********/
/* X-Small */
@media screen and (max-width: 576px) {

}

/* Small */
@media screen and (min-width: 576px) {

}

/* Medium */
@media screen and (min-width: 768px) {

}

/* Large */
@media screen and (min-width: 992px) {

}

/* Extra large */
@media screen and (min-width: 1200px) {

}

/* Extra large large */
@media screen and (min-width: 1400px) {

}