/* FOOTER */

.footer__frase {
    background-color: $verde-2;
}
.footer__frase p {
    text-align: center;
    padding: 28px 0px;
    font-size: 1.7rem;
    color: #ffffff;
    
}

footer li {
    list-style: none;
}

.footer_web a {
    padding: 0.5rem;
    font-size: 1.25rem;
    color: $verde-2;
}

.footer__about {
    text-align: center;
    padding: 1.5rem;
}

$coloresFooter: (
    redes: #198754,
    secciones: #6c757d
);

@each $elemento, $color in $coloresFooter {
    .color-#{$elemento} {
        color: $color;
    }
}


/*********** media query ***********/
/* X-Small */
@media screen and (max-width: 576px) {

}

/* Small */
@media screen and (min-width: 576px) {

}

/* Medium */
@media screen and (min-width: 768px) {
    .footer__about {
        text-align: left;
    }
}

/* Large */
@media screen and (min-width: 992px) {

}

/* Extra large */
@media screen and (min-width: 1200px) {

}

/* Extra large large */
@media screen and (min-width: 1400px) {

}

