/* FOOTER */

.footer__frase {
    background-color: $verde-ppal;
}
.footer__frase p {
    text-align: center;
    padding: 20px 0px;
    font-size: 1.7rem;
}

footer li {
    list-style: none;
}

$coloresFooter: (
    redes: #198754,
    secciones: #6c757d
);

@each $elemento, $color in $coloresFooter {
    .color-#{$elemento} {
        color: $color;
    }
}


