/* GENERAL */

.sombra {
    text-shadow: 2px 2px 2px #152119;
}

/* font */

$verde-1: #255d00;
$verde-2: #558b2f;
$verde-3: #85bb5c;
$verde-4: #cbdc8b;
$verde-5: #dfe7c3;



// comentar reglas de seo