/* GENERAL */

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: #f8f9fa;
}

/* colores */
$verde-1: #255d00;
$verde-2: #558b2f;
$verde-3: #85bb5c;
$verde-4: #cbdc8b;
$verde-5: #dfe7c3;

$negro: #212529;


.sombraOscura {
    text-shadow: 2px 2px 2px $negro;
}
.sombraClara {
    text-shadow: 2px 2px $verde-5;
}


/* estilo ventana modal */
.modal-header {
    display: inline;
    text-align: center;
}

h5 {
    color: $negro;
    font-size: 1.7rem;
    text-shadow: 2px 2px $verde-5;        
}

.btn__cerrar {
    background-color: $verde-1;
    border: none;
    color: #ffffff;
    font-weight: bold;
    &:hover {
        background-color: $verde-5;
        color: $negro;
    }
}

.modal-body p {
    margin-bottom: 0px;
}
