/* INDEX */

/* portada */
.portada {
    height: 40vh;
    background-image: url("../assets/images/index/mano-tierra.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.portada__h1 {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;    
    color: #e6e6e6;

}
.portada__h2 {
    font-style: italic;
    font-size: 1.5rem;
    text-align: center;
    color: #e6e6e6;
}

/*********** animation ***********/
.animate__animated.animate__bounce {
    --animate-duration: 2s;
}

/* sección links a páginas */
.seccionPaginas { 
    margin: 3rem 0;
}

.seccionPaginas_texto p {
    margin-bottom: 3rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}


.seccionPaginas__links div {
    text-align: center;
    & a {
        font-weight: bold;
        background-color: $verde-5;
        color: $negro;
        transition: background-color .5s;
        &:hover{
            background-color: $verde-1;
            color: #ffffff;
        }
    }
}

.seccionPaginas__a--margin {
    margin: 2rem 0;
}


/*********** media query ***********/
/* Medium */
@media screen and (min-width: 768px) {
    .portada__h1 {
        font-size: 4rem;
    }
    .portada__h2 {
        font-size: 2rem;
    }
}

/* Extra Large */
@media screen and (min-width: 1200px) {
    .portada {
        height: 70vh;
    }
    .portada__h1 {
        font-size: 5rem;
    }

    .seccionPaginas { 
        margin: 5rem 0;
    }

    .seccionPaginas_texto p {
        font-size: 2.5rem;
    }
}