/* INDEX */

/* portada */
.portada {
    height: 40vh;
    background-image: url("../assets/images/img-inicio.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.portada__h1 {
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
}
.portada__h2 {
    font-style: italic;
    font-size: 1.25rem;
    text-align: center;
}

/* sección links a páginas */
.seccionPaginas { 
    margin: 3rem 0;
}
.seccionPaginas__p {
    margin-bottom: 3rem;
}
.seccionPaginas__a {
    font-weight: bold;
    background-color: $verde-light;
    color: #000000;
}
.seccionPaginas__a:hover {
    background-color: $verde-dark;
    color: #ffffff;
}
.seccionPaginas__a--margin {
    margin: 2rem 0;
}

/*********** media query ***********/

/* Medium */
@media screen and (min-width: 768px) {
    .portada__h1 {
        font-size: 4rem;
    }
    .portada__h2 {
        font-size: 2rem;
    }
}

/* Extra Large */
@media screen and (min-width: 1200px) {
    .portada {
        height: 80vh;
    }
    .portada__h1 {
        font-size: 5rem;
    }

    .seccionPaginas { 
        margin: 5rem 0;
    }
}


.animate__animated.animate__bounce {
    --animate-duration: 3s;
}
