/* LAS TRES R*/

/* intro */

.align-center {
    text-align: center;
}
.lasTresR h1 {
    @extend .align-center;
    padding: 50px 0px 30px 0px;
    color: $verde-3;
    font-size: 3rem;
    text-shadow: 1px 1px $verde-1;
}
.intro__texto p {
    text-align: justify;
    margin: 0;
}
.intro__img {
    @extend .align-center;
}

.intro__img img {
    width: 200px;
    margin-top: 50px;
}

.verdeBold {
    color: $verde-1;
    font-weight: bold
}

/* cards */
.main-lastresr {
    margin: 50px 0px;
}

.tresRCards img {
    width: 120px;
    margin: auto;
}

.reducir__card > div, .reciclar__card > div, .reutilizar__card > div {
    border: none;
    background-color: transparent;
    padding: 20px 0px;
}


/*********** media query ***********/
/* X-Small */
@media screen and (max-width: 576px) {
    .intro__img img {
        background-color: red;
    }
}

/* Small */
@media screen and (min-width: 576px) {
    .intro__img img {
        background-color: blue;
    }
}

/* Medium */
@media screen and (min-width: 768px) {
    .intro__img img {
        margin-top: 0px;
        background-color: red;
    }
}

/* Large */
@media screen and (min-width: 992px) {
    .intro__img img {
        background-color: blue;
    }
}

/* Extra large */
@media screen and (min-width: 1200px) {
    .intro__img img {
        background-color: red;
    }
}

/* Extra large large */
@media screen and (min-width: 1400px) {
    .intro__img img {
        background-color: blue;
    }
    
    .reducir__card > div:hover , .reciclar__card > div:hover , .reutilizar__card > div:hover {
        box-shadow: 1px 1px #85bb5c;
    }
}