/* LAS TRES R*/

/* intro */
.lasTresR {
    h1 {
        text-align: center;
        padding: 50px 0px 30px 0px;
        color: $verde-3;
        font-size: 3rem;
        text-shadow: 1px 1px $verde-1;
    }
}

.lasTresR__intro p {
    text-align: justify;
    margin: 0;
    font-size: 1.1rem;
}
.lasTresR__intro__img {
    text-align: center;
}

.lasTresR__intro__img img {
    width: 240px;
    margin-top: 50px;
}

.verdeBold {
    color: $verde-1;
    font-weight: bold;
    font-size: 1.5rem;
    text-shadow: 1px 1px $verde-5;
}

/* cards */
.tresRCards {
    margin-bottom: 100px;
    h5 {
        color: $negro;
        font-size: 1.7rem;
        text-shadow: 2px 2px $verde-5;        
    }
    .card-body {
        & > p {
            margin: 20px 0px;
        }
        .modal-body p {
            margin-bottom: 0px;
        }
    }
}


.tresRCards__reducir > div, .tresRCards__reciclar > div, .tresRCards__reutilizar > div {
    border: none;
    background-color: transparent;
    padding: 20px 0px;

    p {
        font-size: 1.1rem;        
        text-align: justify;
    }
    a {
        background-color: $verde-5;
        color: $negro;
        font-size: 1.1rem;
        font-weight: bold;
        width: 100%;
        &:hover {
            background-color: $verde-1;
            color: #ffffff;
        }
    }
}

.tresRCards img {
    width: 130px;
    margin: auto;
    transition: all 3s;
}

.tresRCards .modal-header {
    display: inline;
    text-align: center;
}

.btn__cerrar {
    background-color: $verde-1;
    border: none;
    color: #ffffff;
    font-weight: bold;
    &:hover {
        background-color: $verde-5;
        color: $negro;
    }
}


/*********** media query ***********/
/* X-Small */
@media screen and (max-width: 576px) {
    
}

/* Small */
@media screen and (min-width: 576px) {
    
}

/* Medium */
@media screen and (min-width: 768px) {
    .lasTresR__intro__img img {
        margin-top: 0px;
    }
    .tresRCards__reducir > div, .tresRCards__reciclar > div, .tresRCards__reutilizar > div {
        width: 75%;
        margin: auto;
    }
}

/* Large */
@media screen and (min-width: 992px) {
    .tresRCards__reducir > div, .tresRCards__reciclar > div, .tresRCards__reutilizar > div {
        width: 100%;
    }    
}

/* Extra large */
@media screen and (min-width: 1200px) {    
    .lasTresR {
        width: 75%;
    }
    .tresRCards > div:hover img {
        transform: rotate(-90deg);
    }
    
}

/* Extra large large */
@media screen and (min-width: 1400px) {
    // .tresRCards__reducir > div:hover img , .tresRCards__reciclar > div:hover img , .tresRCards__reutilizar > div:hover img {
    //     transform: rotate(-180deg);
    // }
} 