/* NAVBAR */

/* estilos */
.navbar__logo {
    width: 80px;    
    transition: all 1s;
}

.navbar__logo:hover {
    transform: rotate(-180deg);
}

.menu__ul {
    margin: 20px 0px;
    text-align: center;
}
.menu__ul > li a {    
    margin: 10px 0px;
}
.menu__ul > li a, .submenu__ul a {
    display: inline-block;
    font-size: $menu-fontSize;
    color: $verde-2;
    text-decoration: none;

    &:hover {
        color: $verde-1;
        text-decoration: underline;
    }
}
.submenu__ul {
    margin-top: 10px;
    border: none;
    box-shadow: 2px 2px 5px #6c757d;
    a:hover {
        background-color: transparent;
    }
}

.menu__botonMobile {
    font-size: 2rem;
    color: $verde-2;
}

/******** media querys ********/
/* mobile */
@media screen and (min-width: 991px) {
    .menu__ul > li a {
        margin: 0px 20px;
    }
}

/*********** media query ***********/
/* X-Small */
@media screen and (max-width: 576px) {

}

/* Small */
@media screen and (min-width: 576px) {

}

/* Medium */
@media screen and (min-width: 768px) {

}

/* Large */
@media screen and (min-width: 992px) {

}

/* Extra large */
@media screen and (min-width: 1200px) {

}

/* Extra large large */
@media screen and (min-width: 1400px) {

}