/* NAVBAR */

/* estilos */
.navbar__logo {
    width: 80px;    
    transition: all 3s;
}

.navbar__logo:hover {
    transform: rotate(-180deg);
}

.menu__mobile {
    text-align: end;
}

.menu__ul {
    margin: 20px 0px;
    text-align: center;
}
.menu__ul > li a {    
    margin: 10px 0px;
}
.menu__ul > li a, .submenu__ul a {
    display: inline-block;
    font-size: 1.3rem;
    color: $verde-2;
    text-decoration: none;

    &:hover {
        color: $verde-1;
        text-decoration: underline;
    }
}
.submenu__ul {
    margin-top: 10px;
    border: none;
    box-shadow: 2px 2px 5px #6c757d;
    a:hover {
        background-color: transparent;
    }
}

.menu__botonMobile {
    font-size: 2rem;
    color: $verde-2;
}


/******** media querys ********/

/* Large */
@media screen and (min-width: 992px) {
    .menu__ul > li a {
        margin: 0px 20px;
    }
}