/* VARIABLES */

/* font */
$menu-fontSize: 1.2rem;
$verde-ppal: #558b2f;
$verde-light: #85bb5c;
$verde-dark: #255d00;



// #384a13
// #687f31
// #739800
// #cbdc8b

// centrar el menu mobile
// comentar reglas de seo